<!-- 
Isura Ranatunga
12/01/2012
 --> 

<launch>

  <arg name="gui" default="true"/>
	
  <param name="/use_sim_time" value="true" />

  <!-- start empty world -->
  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>

  <include file="$(find uta_pr2_robotVisualservo)/launch/pr2_manip.launch"/>

  <!-- -J r_upper_arm_roll_joint -1.64 -J r_shoulder_pan_joint -2.135 -J r_shoulder_lift_joint -0.02 -J r_forearm_roll_joint -1.64 -J r_elbow_flex_joint -2.07 -J r_wrist_flex_joint -1.68 -J r_wrist_roll_joint 1.40 --> 
  <!--include file="$(find pr2_controller_configuration_gazebo)/pr2_default_controllers.launch" /-->

  <!-- spawn table and tabletop object -->
  <param name="table_description" 
   command="$(find xacro)/xacro.py '$(find uta_pr2_robotVisualservo)/urdf/table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -model table_1" 
   respawn="false" output="screen" />


  <!-- spawn the red, green, blue and yellow cubes in a square formation -->
  <node name="spawn_box1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find uta_pr2_robotVisualservo)/urdf/big_cube_red.urdf -wait table_1 -model cube_red_1 -x 0.9 -y 0.1 -z 0.60" respawn="false" output="screen" />
  <node name="spawn_box2" pkg="gazebo" type="spawn_model" args="-urdf -file $(find uta_pr2_robotVisualservo)/urdf/big_cube_green.urdf -wait cube_yellow_1 -model cube_green_1 -x 0.9 -y -0.1 -z 0.60" respawn="false" output="screen" />
  <node name="spawn_box3" pkg="gazebo" type="spawn_model" args="-urdf -file $(find uta_pr2_robotVisualservo)/urdf/big_cube_blue.urdf -wait cube_red_1 -model cube_blue_1 -x 0.7 -y 0.1 -z 0.60" respawn="false" output="screen" />
  <node name="spawn_box4" pkg="gazebo" type="spawn_model" args="-urdf -file $(find uta_pr2_robotVisualservo)/urdf/big_cube_yellow.urdf -wait cube_blue_1 -model cube_yellow_1 -x 0.7 -y -0.1 -z 0.60" respawn="false" output="screen" />

  <!-- Tuck arms -->
  <!-- modify if grasping needed 
  <node name="tuckarm" pkg="pr2_tuckarm" type="tuck_arms.py" args="b" respawn="false" output="screen" /> -->

  <!-- parameters that give you reasonable physics as well as good speed -->
  <!-- needed so that gripper joint stops on objects instead of oscillating forever
  <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
  <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>
 -->

  <!--
  <node name="move_pr2" pkg="pr2_gazebo" type="move_pr2"/>
  -->

</launch>
