<launch>
  <arg name="kinect_frame_prefix" default="/head_mount_kinect" />
  <arg name="kinect_camera_name" default="head_mount_kinect" />
  <arg name="launch_kinect" default="true" />
  <arg name="use_freenect" default="false" />
  <arg name="kinect_data_skip" default="1" />

  <arg if="$(arg use_freenect)"     name="kinect_launchfile" value="$(find freenect_launch)/launch/freenect.launch" />
  <arg unless="$(arg use_freenect)" name="kinect_launchfile" value="$(find openni_launch)/launch/openni.launch" />

         <!-- start the Kinect -->

  <group if="$(arg launch_kinect)">
         <include file="$(arg kinect_launchfile)">
          <arg name="depth_registration" value="true"/>
          <arg name="camera" value="head_mount_kinect"/>
          <arg name="rgb_frame_id" value="$(arg kinect_frame_prefix)_rgb_optical_frame"/>
          <arg name="depth_frame_id" value="$(arg kinect_frame_prefix)_depth_optical_frame"/>
          <arg name="publish_tf" value="false"/>
         </include>
  </group>

</launch>
