<?xml version="1.0"?>

<launch>

   <include file="$(find ice_robot_controllers)/launch/load_parameters.launch">
       <arg name="fname" value="pr2_controller"/>
       <arg name="ft"    value="true"/>
   </include>

  <!-- node name="unspawn_arms"
        pkg="pr2_controller_manager"
        type="unspawner"
        args="l_arm_controller r_arm_controller" /-->

   <node pkg="pr2_controller_manager"
         type="spawner"
         args="--stopped pr2_adaptNeuroController"
         name="pr2_adaptNeuroController_spawner" />

</launch>
