<launch>

   <rosparam file="$(find ice_robot_controllers)/config/pr2_controller.yaml"
             command="load" />

  <node name="unspawn_arms"
        pkg="pr2_controller_manager"
        type="unspawner"
        args="l_arm_controller r_arm_controller" />

   <node pkg="pr2_controller_manager"
         type="spawner"
         args="pr2_cartneuroController"
         name="pr2_cartneuroController_spawner" />

</launch>
